services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: 
      - .env
    # ports:
    #   - "${HOST_IP}:${UI_PORT}:${UI_PORT}"
    #   - "${HOST_IP}:${API_PORT}:${API_PORT}"
    volumes:
      - ../:/home/node/app # ワークスペース
